* {
    background-color: #75BBB3;
    font-family: 'Rationale', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.introContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
}

.topLine, .bottomLine {
    font-size: 60px;
    width: 100vw;
    text-align: center;
    color: #FFFFFF;
}

.imageContainer {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#introImage {
    max-width: 100%;
    height: auto;
}