* {
    background-color: #75BBB3;
    font-family: 'Rationale', sans-serif;
}

.introContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.topLine, .bottomLine {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 70px;
}

.image {
    display: flex;
    justify-content: center;
}