* {
    background-color: #FFEFCE;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.introText {
    display: flex;
    height: 40vh;
    width: 100vw;
    text-align: center;
    color: #734830;
    font-size: 13px;
}

.middleHeading {
    text-align: center;
}

.interactiveComponent {
    display: flex;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    text-align: center;
    color: #2f4542;
    font-family: 'Rationale', sans-serif;
    font-size: 20px;
}

div.tileBox {
    display: block;
}

div.tile {
    height: 100px;
    width: 100px;
    vertical-align: top;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 20px;
}

#white {
    background-color: #f8fffe;
}

#teal {
    background-color: #c2e8e3;
}